:root{
    font-size: 3.6vw;
}
body {
	margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}
.stop_scrolling{
    height: 100%;
    overflow: hidden;
}
#loading{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #010a26;
    display: flex;
    align-items: center;
    z-index: 3;
    opacity: 1;
    transition: opacity .2s ease;
}
.preview {
    height:93vh;
	background-image: url(../img/bgMobile.jpg);
    background-position: center;
    background-size: 115% 115%;
	text-transform: uppercase;
    overflow: hidden;
    font-weight: bold;
    transition: background-size 5s ease;
    font-size: 1.2rem;
}
.name{
    background-color: #000000d7;
    color: white;
    margin-top: 8vh;
    font-size: 2.8em;
    text-align: center;
    padding: 2%;
    transform: scale(1.1);
}
.desc{
    background-color: #000000d7;
    margin-top: 5vh;
    font-size: 1.7em;
    text-align: center;
    padding: 2%;
}
.wmore{
    background-color: #000000d7;
    margin-top: 5vh;
    text-align: center;
    padding: 2%;
    font-size: 1.2em;
}
.start {
    margin-top: 5vh;
}
.btnStart{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.5em !important;
    border: 0.2rem solid white;
    background-color: #000000d7;
    color: white;
    transition: color .5s, border-color .5s, background-color .5s;
}
.btnStart:hover{
    border-color: #e83338;
    color: #e83338;
    background-color: #000000;
}
.mNav {
    height: 7vh;
    position: sticky;
    top:0;
    z-index: 1;
	background-color:#101010;
    border-bottom: 1px solid black;
    transition: height .2s ease;
    line-height: 7vh;
}
.mNav.expand{
    display: block;
    height: 255px;
    line-height: 1.5;
}
.toggleBox {
    cursor: pointer;
    margin: 0.5% 0 0 1%;
    display: inline-block;
    position: relative;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: .7vh;
    background-color: #444444;
    margin: 1vh 0;
    transition: 0.4s;
}
.bar1.change {
    transform: rotate(-45deg) translate(-9px, 6px);
	background-color: white;
}
.bar2.change {
    opacity: 0;
}
.bar3.change {
    transform: rotate(45deg) translate(-8px, -8px);
	background-color: white;
}
.mNav>ul{
	padding: 0;
	margin:0;
	list-style-type: none;
    transition: opacity 0.3s;
    display: none;
    justify-content: center;
}
.mNav>ul>li{
	font-size: 21px;
	text-align: center;
	padding: 0 1.5%;
    cursor: pointer;
    border-bottom: 3px dashed #444444;
}
.mNav>ul>li:last-child{
    border: none;
}
.mNav>ul.expanded{
	display: block;
}
.mNav>ul>li>a{
	display: block;
	text-decoration:none;
    color: #444444;
    transition: color 0.2s linear;
}
.mNav>ul>li>a:hover{
	color: white;
}
#a1.current,#a2.current,#a3.current,#a4.current,#a5.current,#a6.current{
    color: white;
}
section{
    text-align: center;
    padding-bottom: 2%;
}
section:last-child{
    padding-bottom: .5%;
}
.about{
    font-size: .9rem;
    text-align: justify;
    background-color: #010a26;
}
.about h1{
    text-align: center;
}
.abilities{
    background-color: #b6d6f2;
    color: #101010;
}
.abilities span{
    font-size: 15px;
}
.skill{
    margin-top: 1rem;
    font-family: 'Passion One', cursive;
    position: relative;
    margin-bottom: 1%;
}
.skill h1{
    line-height: .8;
}
.skill p{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
    line-height: 1.3;
    padding: 0 16%;
    position: absolute;
    top: 58%;
    transform: rotateY(90deg) translateY(-68%);
    transition: 0.3s ease;
}
.skill img {
    transition: .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.rotate{
    transform: rotateY(180deg);
}
.skill>.row{
    width: 90%;
    margin: 0 auto;
    margin-top: 6%;
}
.skill>.row>.col-2{
    opacity: 0;
    transform: scale(2.3);
    transition: opacity .3s ease;
}
.portfolio{
    background-color: #011c52;
}
.portfolioItem{
    border: .3rem solid #4e7af1;
    transition: border .2s ease-out;
}
.portfolioItem:hover{
    border-color: #0534b4;
}
.offer{
    background-color:  white;
    color: #101010;
}
.full-width{
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.offer h4{
    margin: .5rem 0;
}
.offer ul{
    text-align: left;
    font-size: 0.9rem;
    list-style-position: outside;
    padding:0;
    margin: 0;
}
.offer ul li {
    transition: margin-left 0.3s;
    width: 100%;
}
.offer ul li:hover {
    margin-left: 0.5rem;
}
.contact{
    background-color: #e83338;
}
.contact div{
    font-size: 1rem;
}
.contact i{
    font-size: 1.5rem;
    cursor: pointer;
}
.contact a{
    text-decoration: none;
    color: inherit;
}
footer{
    font-size: 0.6rem;
    color: #ffffff5d;
}

@media (min-width: 450px) {
    .preview {font-size: 1rem}
}
@media (min-width: 576px) {
    :root {font-size: 2.9vw;}
    .skill p{font-size: 0.8rem;}
    .preview {background-image: url(../img/bgDesktop.jpg);}
    .skill>.row>.col-2{transform: scale(2);}
}
@media (min-width: 768px){
    :root {font-size: 2.4vw;}
    .toggleBox {display: none;}
    .mNav>ul {display: flex;}
    .mNav>ul>li {display: inline-block; border: none;}
    footer{font-size: 0.6rem;}
}
@media (min-width: 992px){
    :root {font-size: 1.9vw;}
    .mNav>ul>li{font-size: 24px;}
    .skill>.row>.col-2{transform: scale(1.8);}
}
@media (min-width: 1200px){
    :root {font-size: 1.6vw}
    .skill p{font-size: 0.65rem; top:57% !important;}
    .skill>.row>.col-2{transform: scale(1.4);}
    .skill:last-child>p{top:60% !important;}
}